{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay favourite-container ">
    <div class="col text-center"> 
        {% if user_favourites %}
            <h6 class="logo-font font-weight-bold  mt-4 mb-4">My Favourites</h6>


        <!-- favourite Products -->

            {% for product in user_favourites %}
            <div class="fvt-product-container container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-3 d-flex align-items-center">
                        <div class="fvt-image-container">
                            <img class="fvt-img py-3 w-50" src="{{ product.image.url }}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 fvt-align d-flex align-items-center">
                        <div class="col-8">
                            <div class="col-6 ml-1 mb-1 mt-4">
                                <h3 class="fvt-heading"><small>{{ product.name }}</small></h3>
                            </div>
                            <div class="col-6 ml-1 mb-1">
                                <h4 class="fvt-heading">${{ product.price }}</h4>
                            </div><div class="col-6 ml-1 mb-1">
                            {% if product.available_products %}
                            <small class="text-center availability">In Stock 
                                <i class="fa-solid fa-circle-check text-success"></i>
                                </small>
                            {% else %}
                            <small class="text-center availability">Out Of Stock 
                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                            </small>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 fvt-align pl-4 d-flex align-items-center">
                        
                        
                        <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            {% if product.available_products %}
                            <div class="col-12 ml-1 mb-1">
                                <input class="btn btn-black btn-sm text-center rounded-0 text-uppercase mt-2" type="submit" value="Add To Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endif %}

                            <div class="icon">
                                <a class="btn btn-black btn-lg" href="{% url 'add_to_favourites' product.id  %}">
                                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                                </a>
                            </div>
                                
                                
                            </div>
                        </form>      
                    </div>
                </div>    
            </div>
            {% endfor %}
        {% else %}
        <h4>
            No products in Favourites.
        </h4>
        {% endif %}
    </div>
</div>


{% endblock %}