{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container h-100">
        <div id="hero-img" class="row h-100">
            <div id="highlights" class="col-4 col-md-4 my-auto">
                <a href="" class="highlights-button btn btn-lg">Highlights</a>
            </div>
            <div id="main-heading" class="col-6 col-md-6 my-auto">
                <h1 class="display-6 text-white">
                    Get Your Favourites Before They Are Gone!
                </h1>
                <div class="my-5">
                    <h6>
                        <a href="{% url 'products' %}" class="discover-button btn btn-lg  text-uppercase py-3">Discover</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
