<footer class="container-wrapper">
    <div class="container quotes-container content-container text-white">
        <section class="footer">
            <div class="row">
                <div class="col-12 col-md-6 pt-4">
                    <h3>Social</h3>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="https://www.facebook.com/profile.php?id=61552478260348" target="_blank" class="text-white"><i
                            class="fab fa-facebook-square"></i> Follow us on Facebook!</a> <hr>
                    <a href="https://www.privacypolicygenerator.info/live.php?token=BsB2bhdMcBDvEF4xHp2aC5cB2pUPWBIE" target="_blank" class="text-white">Our Privacy Policy</a> <hr>
                    <p class="m-0 text-center">&#169; BeautyBoutique 2023</p>
                </div>
                <div class="col-12 col-md-6 pt-4">
                    <h3>Subscribe!</h3>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p> 
                    <h6><i class="fa-solid fa-envelope"></i> Beauty News </h6>
                    <form action="{% url 'subscribe' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="email" name="email" type="email" class="form-control"
                                placeholder="Email address">
                        </div>
                        <button id="newsletter-btn" class="btn btn-black mb-2" type="submit"
                            value="register">Subscribe!</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</footer>