<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>  
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="care-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="care-link">
                <a href="{% url 'products' %}?category=skin_care" class="dropdown-item">Skin Care</a>
                <a href="{% url 'products' %}?category=body_care" class="dropdown-item">Body Care</a>
                <a href="{% url 'products' %}?category=hair_care" class="dropdown-item">Hair Care</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="makeup-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Makeup
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="makeup-link">
                <a href="{% url 'products' %}?category=complexion" class="dropdown-item">Complexion</a>
                <a href="{% url 'products' %}?category=eye_shadow" class="dropdown-item">EyeShadow</a>
                <a href="{% url 'products' %}?category=lip_stick" class="dropdown-item">LipStick</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fragrance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Perfume
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fragrance-link">
                <a href="{% url 'products' %}?category=scents" class="dropdown-item">Scents</a>
                <a href="{% url 'products' %}?category=attar" class="dropdown-item">Attar</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=sale" class="dropdown-item text-danger font-weight-bold">Sale</a>
            </div>
        </li>
    </ul>
</div>