{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container h-20 my-4 py-3 py-2">
    <div class="col-6 text-center mb-2 mx-auto">
        <h6 class="logo-font text-white font-weight-bold">
            <i class="fa-sharp fa-solid fa-basket-shopping" style="color: #ffffff;"></i> Checkout</h6>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid bg-white">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill the form to complete your Order</p>
                
            </div>
        </div>
{% endblock %}
