{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container pt-4 mb-4">
        <div class="col-12 logo-font text-center text-white">
            <h4> Product Detail</h4>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-image-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <p id="textarea">
                        <strong>Description:</strong>  {{ product.description }} <br>
                        <strong>How To Apply:</strong>  {{ product.application }} <br>
                        <strong>Ingredients:</strong>  {{ product.ingredients }}
                    </p>
                    <ul class="controls">
                        <li class="show mt-4 text-center"><a href="#textarea"><strong>Show Product Details</strong>  <br> 
                            <i class="fa-solid fa-caret-down"></i></a></li>
                        <li class="hide text-center"><a href="#"><i class="fa-solid fa-caret-up"></i> <br>
                            <strong>Hide</strong></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <strong><p class="mb-0">{{ product.name }}</p></strong> <br>   
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <!-- <p class="mt-3"><strong>Description:</strong>  {{ product.description }}</p>
                    <p class="mt-3"><strong>How To Apply:</strong>  {{ product.application }}</p>
                    <p class="mt-3 ingredients"><strong>Ingredients:</strong>  {{ product.ingredients }}</p> -->
                    {% if product.available_products > 0 %}
                    <p class="text-success font-weight-bold">In Stock</p>
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="{{ product.available_products }}"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fa-solid fa-caret-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                {% if user.is_authenticated %}
                                {% if product in user_favourites %}
                                <a href="{% url 'add_to_favourites' product.id %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fa-solid fa-heart fa-beat fa-l" style="color: rgb(207, 3, 169)"></i>
                                    </span>
                                    
                                </a>
                                {% else %}
                                <a href="{% url 'add_to_favourites' product.id %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fa-solid fa-heart fa-beat fa-l"></i>
                                    </span>
                                    
                                </a>
                                {% endif %}
                                {% else %}
                                <a href="account_login">   
                                </a>
                                {% endif %}
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Basket">

                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        
                        </div>
                    </form>
                    {% else %}
                    <p class="text-danger">Out Of Stock</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}